.navbar {
    display: inline-block;
    width: 100%;
    height: 50px;
    background-color: black;
}

html body .navbar .form-control{
    width: 118px;
}

.feedContainer {
    position: relative;
    margin: auto;
    width: 95%;
    height: 500px;
    background-color: black;
    height: unset;
}

.feedItem {
    position: relative;
    display: inline-block;
    height: 500px;
    width: 385px;
    background-color: white;
    margin: 30px;
    border: 6px solid grey;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: bottom;
}

.feedItem h3 {
    font-weight: bold;
    color: black;
}

.feedContainer .feedItem .date{
    position: absolute;
    bottom: 0;
    right: 10px;
    font-weight: bold;
}

/*.feedContainer .feedItem .title h3 a{*/
/*    color: black;*/
/*    font-weight: bold;*/
/*}*/

.feedName {
    text-align: center;
    margin: 20px;
}

.feedName h1{
    font-weight: bolder;
}

html body .feedContainer .sort .button {
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: #e7e7e7;

}

.feedContainer{
    padding-top: 25px;
}

.feedContainer .sort {
    margin-left: 30px;
}

.navbar.navbar-inverse .container-fluid .navbar-header a.navbar-brand{
    text-align: center;
}

.navbar.navbar-inverse{
    height: unset;
}

.feedContainer .feedItem img{
    position: absolute;
    bottom: 40px;
    font-weight: bold;
    border: 2px solid black;
    width: 350px;
    height: 220px;
}

.sort button.btn.btn-default{
    position: relative;
    left: 50px;
}

@media screen and (max-width: 680px){
    .navbar.navbar-inverse{
        height: unset;
    }

    html body .navbar .form-control{
        width: 100%;
    }

    .feedItem {
        position: relative;
        display: inline-block;
        height: 500px;
        width: 300px;
        background-color: white;
        margin: 30px;
        border: 6px solid grey;
        padding-left: 10px;
        padding-right: 10px;
        vertical-align: bottom;
    }

    .navbar.navbar-inverse .container-fluid .navbar-form.navbar-left button.btn.btn-default{
        width: 100%;
    }

    .navbar.navbar-inverse .container-fluid .navbar-header a.navbar-brand{
        position: relative;
        left: 33%;
        top: 5px;
    }

    .sort button.btn.btn-default{
        position: relative;
        left: 6%;
    }

    .feedContainer .feedItem img{
        position: absolute;
        bottom: 35px;
        font-weight: bold;
        border: 2px solid black;
        width: 268px;
        height: 220px;
    }
}

input[type="text"]::placeholder {

    /* Firefox, Chrome, Opera */
    text-align: center;
}

/*.feedContainer .title h3{*/
/*    color: white;*/
/*    position: relative;*/
/*    bottom: 20px;*/
/*    text-align: center;*/
/*}*/








